.collection {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 20px;
  background-color: var(--card-bg);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.collection__button {
  display: block;
  width: 100%;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.collection__button:hover {
  background-color: var(--secondary-color);
}

.collection__list {
  list-style: none;
  padding: 0;
}

.collection__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  ul li span {
    font-size: small;
  }
}

.collection__item__name {
  display: inline-block;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.collection__delete {
  background: none;
  border: none;
  color: red;
  font-size: 16px;
  cursor: pointer;
}

.collection__delete:hover {
  color: darkred;
}

.collection__favorite {
  color: var(--primary-color);
  border: 1px solid var(--border-favorite);
}
