.card {
  border: 1px solid var(--card-border);
  border-radius: calc(var(--radius) + 4px);
  padding: var(--card-padding);
  & h3,
  p {
    text-align: center;
  }
}

.card__image {
  display: block;
  margin: 0 auto;
  width: 100%;
}
