.card {
  border: 1px solid var(--card-border);
  border-radius: calc(var(--radius) + 4px);
  padding: var(--card-padding);
  & h3,
  p {
    text-align: center;
    padding: var(--spacing-xs) 0 var(--spacing-xs) 0;
  }
  & img {
    border-radius: var(--border-radius-card);
  }
  &:hover {
    cursor: pointer;
  }
}
