@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

:root {
  font-family: 'Roboto', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;

  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-border: grey;
  --card-padding: 5px;
  --card-foreground: 240 10% 3.9%;
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --border-favorite: pink;
  --input: 240 5.9% 90%;
  --ring: 240 5.9% 10%;
  --radius: 0.5rem;

  --bg-dark: rgba(0, 0, 0, 0.5);
  --bg-none: none;
  --bg-white: #fff;

  --spacing-n: 20px;
  --spacing-s: 10px;

  --border-radius: 8px;

  --font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font-family: var(--font-family);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: var(--border-radius);
  background-color: hsl(var(--secondary) / 0.9);
  cursor: pointer;
  &:hover {
    filter: brightness(0.9);
  }
}

button.danger {
  background-color: hsl(var(--destructive) / 0.9);
  color: hsl(var(--destructive-foreground));
  &:hover {
    filter: brightness(0.9);
  }
}

select {
  font-family: var(--font-family);
  padding: 0.5rem 0;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

input {
  font-family: var(--font-family);
  background-color: hsl(var(--secondary) / 0.9);
  padding: 0.5rem 1rem;
  border: 1px solid var(--card-border);
  border-radius: var(--border-radius);
}

ul li {
  list-style: none;
}
