@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

:root {
  font-family: 'Roboto', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;

  --background: 0 0% 100%;
  --card: 0 0% 100%;
  --card-border: grey;
  --card-padding: 5px;
  --secondary: 240 4.8% 95.9%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --border-favorite: pink;
  --radius: 0.5rem;

  --spacing-none: 0;
  --spacing-n: 20px;
  --spacing-s: 10px;
  --spacing-xs: 5px;

  --bg-dark: rgba(0, 0, 0, 0.5);
  --bg-none: none;
  --bg-white: #fff;

  --border-radius: 8px;
  --border-radius-card: 10px;
  --font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font-family: var(--font-family);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: var(--border-radius);
  background-color: hsl(var(--secondary) / 0.9);
  cursor: pointer;
  &:hover {
    filter: brightness(0.9);
  }
}

button.danger {
  background-color: hsl(var(--destructive) / 0.9);
  color: hsl(var(--destructive-foreground));
  &:hover {
    filter: brightness(0.9);
  }
}

select {
  font-family: var(--font-family);
  padding: var(--spacing-xs);
  margin: var(--spacing-xs);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

input select {
  font-family: var(--font-family);
  background-color: hsl(var(--secondary) / 0.9);
  padding: 0.5rem 1rem;
  border: 1px solid var(--card-border);
  border-radius: var(--border-radius);
  margin: 0 var(--spacing-n) 0 0;
}

input[type='number'] {
  font-family: var(--font-family);
  width: 40%;
  background-color: hsl(var(--secondary) / 0.9);
  padding: 0.5rem 1rem;
  border: 1px solid var(--card-border);
  border-radius: var(--border-radius);
  margin: 0 var(--spacing-n) var(--spacing-n) 0;
}

ul li {
  list-style: none;
}

.spacing-xs-ml {
  margin-left: var(--spacing-xs);
}
.spacing-xs-mb {
  margin-bottom: var(--spacing-xs);
}
